{% autoescape off %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body class="has-background-light">
        <div class="application" id="application" style="min-height: 100vh;">
            <!--Navbar Start-->
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <span>[[ title ]]</span>
                        </a>
                        <a role="button" class="navbar-burger burger" v-bind:class="{'is-active': showmenu}" aria-label="menu" aria-expanded="false" data-target="menu" v-on:click="showmenu=!showmenu">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
    
                    <div id="menu" class="navbar-menu" v-bind:class="{'is-active': showmenu}">
                        <div class="navbar-end">
                            <a class="navbar-item" v-for="(link, menuitem) in menus" v-bind:href="link">[[ menuitem ]]</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!--Navbar End-->

            <!--Subtitle section Start-->
            <section class="hero is-danger is-medium is-bold">
                <div class="hero-body" v-bind:style="{'background-image': 'url(' + post.image + ')', 'height': '400px'}">
                    <div class="container has-text-centered">
                        <h1 class="title">
                            [[ subtitle ]]
                        </h1>
                    </div>
                </div>
            </section>
            <!--Subtitle section End-->

            <!--Posts section Start-->
            <div class="container">
                <section style="margin-top: -200px;">
                    <div class="column is-8 is-offset-2">
                        <div class="card mt-6">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content has-text-centered" style="overflow: hidden; margin-top: 1rem;">
                                        <a class="title has-text-weight-light">[[ post.title ]]</a>
                                        <div class="tags level-item mt-3">
                                            <span class="tag">[[ post.updated ]]</span>
                                            <span class="tag is-info" v-for="tag in post.tags">[[ tag ]]</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content" style="margin: 1.5rem 1.5rem;" v-html="unescape(post.content.split('---')[1])">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--Post section End-->

            <!--Footer Start-->
            <footer class="footer has-background-light py-6">
                <div class="content has-text-centered">
                    <p>
                        <strong>Django-Vue Blog</strong> Powered by 
                        <a href="https://python.org">Python</a>,
                        <a href="https://www.djangoproject.com/">Django</a>,
                        <a href="https://vuejs.org">Vue</a>,
                        <a href="https://bulma.io">Bulma</a>
                    </p>
                </div>
            </footer>
            <!--Footer End-->
        </div>
    </body>

    <script>
        function heredoc(fn) {
            return fn.toString().split('\n').slice(1,-1).join('\n') + '\n'
        }
        app = {};
        init = (app) => {
            app.data = {
                showmenu: false,
                title: "{{ title }}",
                subtitle: "{{ subtitle }}",
                menus: JSON.parse('{{ menus }}'),
                post: JSON.parse('{{ post }}')
                
            };
            app.methods = {
                unescape: unescape
            };
            app.init = () => {};

            app.vue = new Vue({
                el: "#application",
                data: app.data,
                methods: app.methods,
                delimiters: ['[[', ']]']
            });
            app.init();
        }

        init(app);
    </script>

</html>
{% endautoescape %}